<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Saira+Stencil+One|Saira:400,700&display=swap" rel="stylesheet">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-color: grey;
            font-size: 16px;
            font-family: 'Saira Stencil One', cursive;
            font-family: 'Saira', sans-serif;
            padding: 0;
            margin:0;
        }

        .container {
            display: grid;
        }

        .login {
            display: flex;
            justify-content: center;          
        }

        td, th {
            padding-left: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        @*<div class="navbar-collapse collapse">
            <div style="float:left;"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></div>
        </div>*@
        <div class="container body-content">
            @RenderBody()
        </div>
       
    </div>
    @RenderSection("Scripts", false)
</body>
</html>
